<!DOCTYPE html>
<html lang="pt-br" ng-app="eagleStore" ng-controller="eagleStoreCtrl">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Eagle Store é uma loja de aplicativos para linux, leve, rapida e funcional."/>
        <meta name="keyword" content="eagle store, loja de aplicativo, snap, flatpak, linux"/>
        <meta name="viewport" content="iser-scalable=no, width=devide-width, inicial-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="blue"/>

        <title>Eagle Store</title>


        <link rel="stylesheet" href="css/estilo.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <script src="js/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/escript.js"></script>
        <script type="text/js">
            $(document).ready(() =>{
                $("#tabs").tabs();
            });
        </script>
    </head>
    <body>

<header>
    <hgroup>
        <h1 ng-bind="titulo"></h1>
        <h2 ng-bind="subtitulo"></h2>
    </hgroup>
</header>
<section>
    <ul>
        <li><a href="#tab-bemvindo" ng-click="trocarSubtitulo('Bem-vindo!')">Bem-vindo!</a></li>
        <li><a href="#tab-galeria"ng-click="trocarSubtitulo('Galeria')" > Galeria</a></li>
        <li><a href="tab-loja" ng-click="trocarSubtitulo('Loja')">Loja </a></li>
        <li><a href="tab-sobre" ng-click="trocarSubtitulo('Sobre')"> Sobre</a></li>
    </ul>
   <article id="tab-bemvindo">  </article>
    <article class="linha" id="tab-galeria">
        <div class="coluna" ng-repeat="pacote in pacotes_snaps">
            <div class="titulo">
                <h3 ng-bind="pacote.nome"></h3>
            </div>   
            <div class="imagem"> 
                <img  src="{{pacote.icon}}" alt="aguia "/>
            </div>
            <div class="descricao">
                <p ng-bind="pacote.descricao"></p>
                <p >tag: <span  class="tag" ng-bind="pacote.categoria"></span></p>
            </div>
        </div>
    </article>
    <article id="tab-loja"></article>
    <article id="tab-sobre"></article>
</section>   
<footer>
    <p> &copy; Criado por Gustavo e Nicolas </p>
</footer>

    </body>
</html>